/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2020, 11:42:46 AM
    Author     : diljeet
*/
/*.top{
    background-color: #cfcfcf;
    padding: 1em;
}*/
/*body .ui-widget:not(.pi), body .ui-widget .ui-widget:not(.pi) {
    font-size: 1em;
}
.top, #content{
    font-size: 1.2em;
}*/
body .credentials-sidebar .ui-tabs .ui-tabs-panels .ui-tabs-panel {
    padding: 1rem 0;
}
body .credentials-sidebar .ui-tabs .ui-tabs-nav li.ui-tabs-header {
    flex: 1;
    justify-content: center;
}
body .credentials-sidebar .ui-tabs .ui-tabs-nav li.ui-tabs-header a {
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: normal;
}
.ui-float-label{
    margin-top: 15px;
}
body .credentials-sidebar .ui-float-label > label {
    margin-left: 0.8rem;
}
body .credentials-sidebar .ui-inputfield {
    padding: 0.8rem 0.8rem;
}
.cmdBtn{
    margin-top: 15px !important;
}
body .ui-progressbar, body .credentials-sidebar .ui-progressbar {
    height: 5px;
}
body .ui-panel .ui-panel-content, body .credentials-sidebar .ui-panel .ui-panel-content {
    border: 0;
    background: 0;
    padding: 0;    
}
.table-paymentoptions thead, .table-channeloptions thead{
    display: none;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: none;
    background: none;
    color: #222;
}
.ui-widget-content {
    border: none;
}
body{
    overflow-x: hidden;
}
.web-menu{
    display: none;
}
.hammenu{
    display: none;
    position: absolute;
    right: -315px;
    background-color: #ff0000;
    top: 35px;
    width: auto;
    max-width: 50%;
    height: 100%;
    z-index: 1000;
    padding: 0.8em;    
}
.hammenu .user-icon{
    font-size: 2em;
}
.hammenu .user{
    font-size: 1.2em;
}
.hamicon{
    display: block;
    font-size: 1.3em;    
}
.donot-show{
    display: none;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: none;
    position: absolute;
    z-index: 101;
    top: 0;
    opacity: 0.6;
}
.cartColAction{
    position: absolute;
}
.removeFromCartBtn{
    position: absolute;
    right: 1.5em;
}
.cartDatatable {
    padding-bottom: 30px;
}
body #cartForm .ui-datatable .ui-datatable-footer {
    position: fixed !important;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;    
    z-index: 100;
    display: flex;
    align-items: center;
}
body #cartForm .ui-datatable .ui-datatable-footer .subtotalAmount{  
    flex: 1;    
    text-align: right;
    padding-right: 15px;
}
body #cartForm .ui-datatable .ui-datatable-footer .proceedBtn{  
    flex: 1;
    text-align: left;
    padding-left: 15px;
}

.separator{
    border-bottom: 2px solid #cfcfcf;
}
.set-bg{
    background-color: whitesmoke;
    /*    border: 1px solid #e8d1d1;*/
    /*    box-shadow: #e8d1d1 2px 2px 2px;*/
}
.continueBtn{
    position: fixed;
    bottom: 0;
    background-color: #f4f4f4;
    width: 100%;
    left: 0;
    text-align: center;
}
@media screen and (max-width: 640px){
    /*    body .ui-datatable .ui-datatable-data>tr>td {
            padding: 0;
        }*/
    /*    body .ui-datatable .ui-datatable-data>tr>td.ui-selection-column {        
            padding-top: 0.5em 0 !important;
        }*/
    .ui-datatable-reflow .ui-datatable-data td[role="gridcell"]:not(.ui-helper-hidden) div.ui-cell-editor {
        width: auto;
        display: inline-block;    
    }
    body .ui-datatable .ui-datatable-data>tr>td.ui-selection-column .ui-column-title{
        margin-top: 1.2em;
    }
    .ui-datatable-reflow .ui-datatable-data td[role="gridcell"] .ui-column-title {
        min-width: 20% !important;        
    }
    .ui-datatable-reflow .ui-datatable-data td[role="gridcell"]:not(.ui-helper-hidden).ui-editable-column {
        width: 90%;
        float: right;
        clear: none;
    }
    .ui-datatable-reflow .ui-datatable-data td[role="gridcell"]:not(.ui-helper-hidden):last-child{
        position: absolute;
        right: 15px;
        width: 170px;   
        text-align: right;
    }
    .ui-datatable .ui-datatable-data tr.ui-row-editing td.ui-editable-column{
        padding-top: 5px !important;
    }   
}
@media screen and (max-width: 450px){
    /*     body .ui-datatable .ui-datatable-data>tr>td.ui-selection-column {
            padding: 0 !important;
        }*/
    .ui-datatable-reflow .ui-datatable-data td[role="gridcell"] .ui-column-title {
        min-width: 30% !important;        
    }
    .ui-datatable-reflow .ui-datatable-data td[role="gridcell"]:not(.ui-helper-hidden).ui-editable-column {
        width: 85%;
    }
    /*    .ui-datatable-reflow .ui-datatable-data td[role="gridcell"]:not(.ui-helper-hidden):last-child{  
            position: relative;
            text-align: center;
            width: 100%;   
            
        }
        .ui-datatable-reflow .ui-datatable-data td[role="gridcell"]:not(.ui-helper-hidden):last-child .ui-column-title{
            display: none;
        }*/
}
@media screen and (min-width: 641px){
    .cartColAction{
        position: relative;
    }
    .removeFromCartBtn{
        position: relative;       
        left: 0;
    }
}
@media screen and (min-width: 768px){
    .web-menu{
        display: block;
    }    
    .hammenu{
        display: none;       
    }
    .hamicon{
        display: none;
    }   
}
@media screen and (min-width: 992px){
    .web-menu .fa-user{
        font-size: 1em;
    }
    /*    body .ui-button.ui-button-text-icon-left .ui-button-text {
            font-size: 11px;
        } */
    .ui-sidebar-right {
        width: 30em;
    }
}
@media screen and (min-width: 1200px){
    .donot-show{
        display: block;
    }             
}
@media screen and (min-width: 1280px){
    .fix-jc{
        justify-content: center;
    }        
}
@media screen and (min-width: 1400px){
    /*    body .ui-button.ui-button-text-icon-left .ui-button-text {
            font-size: 13px;
        }       */
}




/*body .table-channeloptions .ui-widget-content {
    border: 1px solid #fff !important;
}*/
/*body .ui-progressbar .ui-progressbar-value {
    border: 0 none;
    margin: 0;
    background: #007ad9;
}
.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal {
    display: inline-block;
}
.ui-spinner-input {
    text-align: left;
}    

body .ui-radiobutton .ui-radiobutton-box {
    border: 1px solid #a6a6a6;
    background-color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    position: relative;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: background-color .3s,border-color .3s;
    -o-transition: background-color .3s,border-color .3s;
    -webkit-transition: background-color .3s,border-color .3s;
    transition: background-color .3s,border-color .3s;
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-icon-bullet {
    background-color: #fff;
}
body .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon {
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    vertical-align: middle;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
body .ui-datatable .ui-datatable-data>tr.ui-datatable-selectable.ui-state-highlight .ui-radiobutton>.ui-corner-all.ui-state-active, body .ui-datatable .ui-datatable-data>tr.ui-datatable-selectable.ui-state-highlight .ui-chkbox>.ui-corner-all.ui-state-active {
    border-color: #fff;
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: #007ad9;
    background-color: #007ad9;
    color: #fff;
}
body .ui-datatable .ui-datatable-data>tr.ui-state-highlight {
    border: 1px solid #c8c8c8;
    background-color: #007ad9;
    color: #fff;
    cursor: default;
}
body .ui-spinner .ui-spinner-button.ui-button.ui-spinner-up {
    margin-top: 1px;
    margin-right: 1px;
}
body .ui-spinner .ui-spinner-button.ui-button {
    background-color: transparent;
    color: #333;
    border: 0 none;
    width: 1.429em;
    margin: 0;
}
body .ui-widget:not(.pi), body .ui-widget .ui-widget:not(.pi) {
    font-family: "Open Sans","Helvetica Neue",sans-serif;
    font-size: 14px;
}
body .ui-widget, body .ui-widget .ui-widget {
    text-decoration: none;
}
body .ui-spinner .ui-spinner-button.ui-button.ui-spinner-up .ui-icon {
    margin-top: -0.5em;
    margin-left: -0.5em;
    font-family: 'primeicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0 !important;
    text-align: center;
    background: 0;
    display: inline-block;
    font-size: 1.25em;
}
body .ui-spinner .ui-spinner-button.ui-button .ui-icon {
    position: absolute;
    top: 50%;
    left: 50%;
}
body .ui-spinner .ui-spinner-button.ui-button.ui-spinner-up .ui-icon:before {
    content: "";
}
body .ui-button .ui-icon-triangle-1-s:before {
    content: "";
}*/
