/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 21, 2021, 7:10:50 PM
    Author     : diljeet
*/

/*Payments Data tables*/
.ui-datatable table {  
    table-layout: auto !important;
}
body .ui-datatable .ui-datatable-data>tr {
    border: none;
}
body .ui-datatable .ui-datatable-data>tr>td {
    padding: 2em 1em;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}
body .ui-datatable .ui-datatable-footer {
    position: fixed !important;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;    
    z-index: 100;
    display: flex;
    align-items: center;
}
.reviewAndPlaceOrderBtn{
    flex: 1;
    text-align: center;
}
body .ui-datatable .ui-datatable-data>tr.ui-state-highlight {
    border: none;  
    /*    border-top: 1px solid green;  
        border-right: 1px solid green;
        border-bottom: 1px solid green;*/
    /*    background-color: #f9f9f9; */
    color: #000;
    cursor: default;
}
body .ui-datatable .ui-datatable-data>tr.ui-state-highlight .ui-selection-column {
    /*    border-left: 1px solid green;  */
    border-right: 0;
}
/*body .ui-datatable.table-paymentoptions .ui-datatable-data{    
    display: flex;
    flex-direction: column;
}
body .ui-datatable.table-paymentoptions .ui-datatable-data > tr{ 
    flex: 1;
    display: flex;    
}*/
body .ui-datatable.table-paymentoptions .ui-datatable-data > tr > td.ui-selection-column,
body .ui-datatable.table-paytm-wallet .ui-datatable-data > tr > td.ui-selection-column{ 
    position: relative;
    width: 16px
}
body .ui-datatable.table-paymentoptions .ui-datatable-data > tr > td.ui-selection-column > div.ui-radiobutton,
body .ui-datatable.table-paytm-wallet .ui-datatable-data > tr > td.ui-selection-column > div.ui-radiobutton{ 
    position: absolute;
    top: 30px;
    right: 0;
}
body .ui-inputfield.otpInputText{
    font-size: x-large;
    /*    letter-spacing: 1em;*/
    text-align: center;
    text-shadow: 0 0 black;
}
body .ui-datatable.table-paymentoptions .ui-datatable-data > tr.donotRender:first-child{
    display: none;
}
.ui-inputwrapper-filled{
    position: relative;
}
.cardIcon{
    width: 30px;
    position: absolute;
    right: 12px;
    bottom: 3px;
}
body .ui-panel .ui-panel-content div span img{
    width: 50px;
}
.ui-datatable.table-channeloptions tbody.ui-datatable-data {
    display: flex;
    flex-wrap: wrap;   
}
.ui-datatable.table-channeloptions tbody.ui-datatable-data > tr{
    flex: 1 180px;
    margin: 15px 15px 15px 0;
    display: flex;    
    flex-direction: column;
    border: 1px solid #ff0000;
    position: relative;
}
.ui-datatable.table-channeloptions tbody.ui-datatable-data > tr > td {
    flex: 1;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ui-datatable.table-channeloptions tbody.ui-datatable-data > tr > td {    
    border: 0;
}
.ui-datatable.table-channeloptions tbody.ui-datatable-data > tr > td:first-child{
    padding: 0;    
    position: absolute;
    right: 10px;
    top: 10px;
}
.ui-datatable.table-channeloptions tbody.ui-datatable-data > tr > td:first-child .pi-check{ 
    display: none;
}
.ui-datatable.table-channeloptions tbody.ui-datatable-data > tr.ui-state-highlight > td:first-child .pi-check{ 
    display: block;
}
.ui-datatable.table-channeloptions tbody.ui-datatable-data > tr > td:nth-child(2){    
    min-height: 122px;
    padding-bottom: 0px
}
.ui-datatable.table-channeloptions tbody.ui-datatable-data > tr > td:nth-child(2) img{
    width: 50px;    
    padding-bottom: 0.5em;
}
.ui-datatable.table-channeloptions tbody.ui-datatable-data > tr > td:last-child {
    padding-top: 0;    
}
@media screen and (min-width: 1200px){
    .ui-sidebar-right {
        width: 30em;
    }
}